{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/diagnostics/addairport.css") }}">
{% endblock %}

{% block content %}
    
    <div class="col-sm-10">
      <div class="container">
        <form action="{{ url_for('diagnostics.addairport') }}" method="post" name="addarea" class="form-horizontal">
          <table class="table center">
            <thead>
              <h1>Add New Airport</h1>
            </thead>
            <tbody>
              <tr>
                <td>IATA</td>
                <td><input type="text" placeholder="3 letters" class="form-control" name="new_iata_code" style="width:100px;"></td>
              </tr>
              <tr>
                <td>ICAO</td>
                <td><input type="text" placeholder="4 letters" class="form-control" name="new_icao_code" style="width:100px;"></td>
              </tr>
              <tr>
                <td>Name</td>
                <td><input type="text" class="form-control" name="new_name"></td>
              </tr>
              <tr>
                <td>City</td>
                <td><input type="text" class="form-control" name="new_city"></td>
              </tr>
              <tr>
                <td>Country</td>
                <td><input type="text" class="form-control" name="new_country"></td>
              </tr>
              <tr>
                <td>Size</td>
                <td>
                  <select type="text" class="form-control" name="new_size" style="width:100px;">
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-4 spaceinput">
              <input class="btn btn-default" type="submit" value="Submit">
              {{ form.csrf_token }}
            <a href="{{ url_for('diagnostics.selection') }}" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}