{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/diagnostics/diagnostics.css") }}">
<script type="text/javascript" src="{{ url_for('static', filename="js/diagnostics/diagnostics.js") }}"></script>
{% endblock %}

{% block content %}
    
    <div class="col-sm-10">
      <div class="container-fluid">
        <div class="row well top">
          <div class="col-sm-7">
            <h1>
              {{ airport_info.name }}, {{ airport_info.iata_code }}
            </h1>
            <div class="airport-info">
              <ul class='list-inline'>
                <li>IATA: {{ airport_info.iata_code }}</li>
                <li>ICAO: {{ airport_info.icao_code }}</li>
                <li>City: {{ airport_info.city }}</li>
                <li>Country: {{ airport_info.country }}</li>
                <li>Size: {{ airport_info.size }}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">{{ current_Time.strftime('%B %d, 
                %Y') }}</button>
              <div id="myDropdown" class="dropdown-content">
                {% for time in diagTime %}
                <a href="/diagnostics/{{ airport_info.iata_code }}/{{ 
                time.strftime('%Y-%m-%d')}}">{{ time.strftime('%B %d, 
                %Y') }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="panel panel-score">
                {{ score }}%
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-checkin">
              <div class="panel-heading"><h2>Check-in</h2></div>
              <div class="panel-body">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>Utilization Rate:</td>
                      <td>{{ checkin_info.uti_rate }}</td>
                    </tr>
                    <tr>
                      <td>Queue (Average no. of people):</td>
                      <td>{{ checkin_info.queue_avgpeople }}</td>
                    </tr>
                    <tr>
                      <td>Queue (Waiting Time):</td>
                      <td>{{ checkin_info.queue_waitingtime }}</td>
                    </tr>
                    <tr>
                      <td>System (Average no. of people):</td>
                      <td>{{ checkin_info.sys_avgpeople }}</td>
                    </tr>
                    <tr>
                      <td>System (Waiting Time):</td>
                      <td>{{ checkin_info.sys_waitingtime }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-emigration">
              <div class="panel-heading"><h2>Emigration</h2></div>
              <div class="panel-body"> 
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>Utilization Rate:</td>
                      <td>{{ emigration_info.uti_rate }}</td>
                    </tr>
                    <tr>
                      <td>Queue (Average no. of people):</td>
                      <td>{{ emigration_info.queue_avgpeople }}</td>
                    </tr>
                    <tr>
                      <td>Queue (Waiting Time):</td>
                      <td>{{ emigration_info.queue_waitingtime }}</td>
                    </tr>
                    <tr>
                      <td>System (Average no. of people):</td>
                      <td>{{ emigration_info.sys_avgpeople }}</td>
                    </tr>
                    <tr>
                      <td>System (Waiting Time):</td>
                      <td>{{ emigration_info.sys_waitingtime }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-security">
              <div class="panel-heading"><h2>Security Checkpoint</h2></div>
              <div class="panel-body">       
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>Utilization Rate:</td>
                      <td>{{ security_info.uti_rate }}</td>
                    </tr>
                    <tr>
                      <td>Queue (Average no. of people):</td>
                      <td>{{ security_info.queue_avgpeople }}</td>
                    </tr>
                    <tr>
                      <td>Queue (Waiting Time):</td>
                      <td>{{ security_info.queue_waitingtime }}</td>
                    </tr>
                    <tr>
                      <td>System (Average no. of people):</td>
                      <td>{{ security_info.sys_avgpeople }}</td>
                    </tr>
                    <tr>
                      <td>System (Waiting Time):</td>
                      <td>{{ security_info.sys_waitingtime }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-benchmarking">
              <div class="panel-heading"><h2>Benchmarking (Yearly Score)</h2></div>
              <div class="panel-body">  
                <p> Under maintenance. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-benchmarking">
              <div class="panel-heading"><h2>Benchmarking (Similar size)</h2></div>
              <div class="panel-body">  
                <p> Under maintenance. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}