{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/diagnostics/diagnostics.css") }}">
<script type="text/javascript" src="{{ url_for('static', filename="js/diagnostics/diagnostics.js") }}"></script>
{% endblock %}

{% block content %}
    
    <div class="col-sm-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1>
              {{ airport_info.name }}, {{ airport_info.iata_code }}
            </h1>
            <div class="airport-info">
              <ul class='list-inline'>
                <li>IATA: {{ airport_info.iata_code }}</li>
                <li>ICAO: {{ airport_info.icao_code }}</li>
                <li>City: {{ airport_info.city }}</li>
                <li>Country: {{ airport_info.country }}</li>
                <li>Size: {{ airport_info.size }}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">{{ current_Time.strftime('%B %d, 
                %Y') }}</button>
              <div id="myDropdown" class="dropdown-content">
                {% for time in diagTime %}
                <a href="/diagnostics/{{ airport_info.iata_code }}/{{ 
                time.strftime('%Y-%m-%d')}}">{{ time.strftime('%B %d, 
                %Y') }}</a>
                {% endfor %}
              </div>
            </div>

<!--             <div class="well">
              <select class="selectpicker form-control">
                {% for time in diagTime %}
                  <option value="2015">{{ time.strftime('%B %d, %Y') }}</option>
                {% endfor %}
              </select>
            </div> -->
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h1>83.5%</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="well">
              <h2>Process</h2>
              <p>insert graph here</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <h2>Process</h2>
              <p>insert graph here</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <h2>Process</h2>
              <p>insert graph here</p> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="well">
              <h2>Process</h2>
              <p>insert graph here</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <h2>Process</h2>
              <p>insert graph here</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <h2>Process</h2>
              <p>insert graph here</p> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="viewall">
            <a href="#viewall">view all processes</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <h2>Benchmarking (yearly score)</h2>
              <p>insert graph here</p> 
            </div>
          </div>
          <div class="col-sm-6">
            <div class="well">
              <h2>Benchmarking (similar size)</h2>
              <p>insert graph here</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}