/*.heading {
  margin:20px;
  font-size: 120%;
  }*/

div.cai-logo{
  margin: 20px;
}

/*h1.bighead{
  color: red;
}*/

.container-login{
    width: 50%;
    height: 80%;

    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
  }

/*.navbar{
  margin:10px;
}*/

.viewall{
  text-align:center;
  margin:0 auto;
}

.navbar-nav li a {
    line-height: 150px;
    height: 150px;
    padding-top: 0;
}

.airport-info{
      margin: 10px;
    }

h1.custom-title{

}