{% extends "base.html" %}
{% block content %}
  
    <div class="container-login">

      <div class="cai-logo">
          <img src="{{ url_for('static', filename="img/Logo-Changi.png") }}">
      </div>

        <h1>Airport Diagnostic Tool</h1>
              {% for message in get_flashed_messages() %}
                {{ message }}
              {% endfor %}
              <br><br>
                <form action="{{ url_for('authentication.login') }}" method="post" name="login" class="form-horizontal">

                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">{{ form.username.label }}: </label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">{{ form.password.label }}: </label>
                  <div class="col-sm-6">          
                    <input type="password" class="form-control" placeholder="Password" name="password">
                  </div>
                </div>

                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-default" type="submit" value="Login">
                    {{ form.csrf_token }}
                  </div>
                </div>

              </form>
    </div>
  </body>
</html>

{% endblock %}