/* Dropdown Button */
.dropbtn {
    background-color: #957F68;
    color: white;
    padding: 16px;
    font-size: 25px;
    cursor: pointer;
    height: 90px;
    width: 200px;
    border: 2px solid;
    border-radius: 6px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #7d6a55;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.airport-info{
    font-size: 16px;
}

.top {
    background-color: white;
    border-bottom-color:  #B1A99D;
    border-right-color:  #B1A99D;
}

.panel {
    color: white}

.panel-score{
    border-color:  #8b6f47;
    text-align: center;
    font-size: 50px;
    padding: 8px;
    background-color: #957F68;
}

.panel-body{
    font-size: 16px;
    color: black;
    background-color: #FFFFFF;
    text-align: left;
}

.panel-body-processes th{
    font-weight:normal;
}

.panel-checkin{
    border-color:  #8b6f47;
    background-color: #8b6f47;
}

.panel-emigration{
    border-color:  #8b6f47;
    background-color: #8b6f47;
}

.panel-security{
    border-color:  #8b6f47;
    background-color: #8b6f47;
}

.panel-formulation{
    border-color:  #6F2D53;
    background-color: #6F2D53;
}

.panel-body-formulation{
    text-align: center;
}

.panel-body-formulation th{
    text-align: center;
    background-color: #eee;
}

.table-formulation tbody{
    border: 1px solid;
    border-color: #eee;
}

input{
   text-align:center;
}

.table {
    vertical-align: middle;
}