<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - ADT</title>
    {% else %}
    <title>Welcome to ADT</title>
    {% endif %}


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/sidebar.css") }}">

  </head>

  <body>
  {% if current_user.is_authenticated %}
    {% include "navigation/sidebar.html" ignore missing %}
  {% endif %}

    {% block content %}{% endblock %}
  
  
  </body>

</html>
